<div class="uneaten-burgers">
    <h3>Uneaten Burgers:</h3>
    {{#each burger}}
        {{#unless devoured}}
            <p>
                {{id}}- {{burger_name}}&nbsp;
                <button class='eat-button'>Eat!</button>
            </p>
        {{/unless}}
    {{/each}}
</div>

<div class="eaten-burgers">
    <h3>Eaten Burgers:</h3>
    {{#each burger}}
        {{#if devoured}}
            <p>
                {{id}}- {{burger_name}}
            </p>
        {{/if}}
    {{/each}}
</div>
