*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
    font-size: 1.6rem;

}

.header {
    text-align: center;
    margin: 1rem;

}

.burger_img {
    height: 25rem;

}

.main {
    text-align: center;

}

.uneaten-burgers {
    margin: 1rem; 
}

.eaten-burgers {
    margin: 1rem;
}

